.newBrandFormContainer{
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    
}
h2{
    text-align: center;
    color:#333;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

label{
display: block;
margin-bottom: 8px;
font-size: 20px;
font-weight: 500;
color: #555;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 2px solid #ddd;
    transition: all 0.3s ease;
    border-radius: 10px;
}

input:focus{
    border-color: #007bff;
    outline: none;
}

.formButtons{
    display: flex;
    justify-content: space-between;
}

.okButton
.cancelButton{
    width: 48%;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.okButton {
    background-color: #28a745;
    color: white;
}
  
.okButton:hover {
    background-color: #218838;
}
  
.cancelButton {
    background-color: #dc3545;
    color: white;
}
  
.cancelButton:hover {
    background-color: #c82333;
}